<form action="/form" method="post">
	<p style ="font-size:20px;">What city?      <input type="text" name="message" placeholder="Put your city name in here!" style="width:200px"></p> 
	
	<br><br><br>

	<input type="submit"  value="Get me the time!!!!" style="font-size:1000px;margin-left:80px">
</form>